.top_panel
{
    background-color:black;
    color: blanchedalmond;
    text-align: center;
    height: 50px;
}
.par_1_link
{
    padding: 1% 1%;
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: 200%;
    color:white;
    background-color: rgba(231, 50, 95, 0);
}
.par_1_link:link
{
    background-color: brown;
}
.par_1_link:visited
{
    color:thistle;
}
.par_2_link
{
    padding: 1% 1%;
    font-family:Impact;   
    font-size: 200%;   
    color:white;
    background-color: rgba(111, 0, 255, 0.404);
}
.par_2_link:link
{
    background-color: brown;
}
.par_2_link:visited
{
    color:thistle;
}
.par_3_link
{
    color:white;
    padding: 1% 1% ;
    font-family: Verdana;
    font-size: 200%; 
    background-color: rgb(0, 255, 234, 0.4);
}
.par_3_link:link
{
    background-color: brown;
}
.par_3_link:visited
{
    color:thistle;
}
.par_4_link
{
    color:white;
    padding: 1% 1%;
    background-color: rgb(199, 241, 9, 0.4);
    font-family: serif;
    font-size: 200%;
}
.par_4_link:link
{
    background-color: brown;
}
.par_4_link:visited
{
    color:thistle;
}
.par_5_link
{
    color:white;
    padding: 1% 1%;
    background-color: rgb(124, 243, 6, 0.4);  
    font-size: 200%;    
}
.par_5_link:link
{
    background-color: brown;
}
.par_5_link:visited
{
    color:thistle;
}
.images
{
    max-width: 10%;
    max-height: 10%;
}

#text1
{
    padding: 10% 10% 10% 10%;
    font-size: 30px;
    font-style:oblique;
    font-weight: 400;
    font: outline;
}
#text2
{
    padding: 10% 10% 10% 10%;
    font-size: 30px;
    font-style:oblique;
    font-weight: 400;
}
#text3
{
    padding: 10% 10% 10% 10%;
    font-size: 30px;
    font-style:oblique;
    font-weight: 400;
}
#text4
{
    padding: 10% 10% 10% 10%;
    font-size: 30px;
    font-style:italic;
    font-weight: 400;
}
#text5
{
    padding: 10% 10% 10% 10%;
    font-size: 30px;
    font-style:oblique;
    font-weight: 400;
}
.tothetop
{
    position: fixed;
    left: 10px;
    bottom: 10px;
}
.hidden
{
    position: absolute;
    right: 10px;
    color:blanchedalmond;
}
.hidden:hover
{
    color:black;
}
.hidden:visited
{
    color:black;
}
body
{
    background-color: rgb(238, 238, 238);
}